<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Pontus</title>
</head>
<body>
	<h1>Pontus - página de login</h1>
	<div class="formulario">
		<form th:action="@{/pontus/login}" method="POST">
			<label class="lbl">Login:</label> 
			<input type="text" name="username">
			<label class="lbl">Password:</label> 
			<input type="password" name="password">
			<button type="submit">Login</button>
		</form>
	</div>
</body>
</html>