<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
	th:replace="~{template :: layout (~{:: main}, ~{::head})}">
<head>
<link th:href="@{/marcacao.css}" rel="stylesheet">
</head>
<body>
	<main>
		<hr>
		<h2>Marcação</h2>
		<div class="info">
		<p th:text ="${usuarioId}"></p>
		</div>
		<form th:action="@{/pontus/marcacao}" method="POST">
			<label>Tipo de marcação:</label>
			<div>
				<input type="text" hidden="hidden" th:name ="usuarioId" th:value="${usuarioId}">
				<input id="desc_entrada" type="radio" th:name="descricao"
					value="Entrada"> <label for="desc_entrada">Entrada</label>
			</div>
			<div>
				<input id="desc_saida" type="radio" th:name="descricao" value="Saída">
				<label for="desc_saida">Saída</label>
			</div>
			<input class="btn"type="submit" value="Registrar">
		</form>
	</main>

</body>
</html>