<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
	th:replace="~{template :: layout (~{:: main}, ~{::head})}">
<head>
<link th:href="@{/registros.css}" rel="stylesheet">
</head>
<body>
	<main>
		
		<hr>
		<h2>Registros</h2>
		<p><span th:text="${mes}"></span> / <span th:text="${ano}"></span></p>		
		<table>
			<thead>
				<tr>
					<th>Dia</th>
					<th>Entrada</th>
					<th>Saída</th>
					<th>Excedente</th>
					<th>Faltante</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${registroMes.size() > 0}" th:each="item, iStat : ${registroMes}">
					<td th:text="${item.dia}"></td>
					<td th:text="${#temporals.hour(item.horaEntrada)+':'+#temporals.minute(item.horaEntrada)}">13:00</td>
					<td th:text="${#temporals.hour(item.horaSaida)+':'+#temporals.minute(item.horaSaida)}">17:00</td>
					<td th:text="${item.tempoExcedente}">00:00</td>
					<td th:text="${item.tempoFaltante}">00:00</td>
				</tr>
			</tbody>
		</table>
		<div>
			<form th:action="@{/pontus/registros}" method="POST">
				<input hidden="hidden"th:name="usuarioId" th:value="${usuarioId}">
				<label> Mês <input type="number" th:name="mes" th:value="${mes}"></label>
				<label> Anos <input type="number" th:name="ano" th:value="${ano}"></label>
				<input type="submit" value="Pesquisar">
			</form>
		</div>
	</main>

</body>
</html>